<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Обновление параметров клиента</title>
</head>
<body>
<h2>Изменение данных клиента</h2>
<form action="#" th:action="@{/client-update}" th:object="${client}" method="post">

    <label for="surname">Фамилия</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Фамилия">
    <br/>

    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Имя">
    <br/>

    <label for="patronymic">Отчество</label>
    <input type="text" th:field="*{patronymic}" id="patronymic" placeholder="Отчество">
    <br/>

    <label for="phoneNumber">Телефонный номер</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Номер телефона">
    <br/>

    <label for="password">Паспорт</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Паспорт">
    <br/>

    <input type="submit" value="Обновить клиента">
</form>
</body>
</html>